.description p {
  border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
  background: linear-gradient(
    to bottom,
    rgba(var(--background-start-rgb), 1),
    rgba(var(--callout-rgb), 0.5)
  );
  background-clip: padding-box;
}

.description div {
  background: linear-gradient(to bottom, transparent 0%, rgb(var(--background-end-rgb)) 40%);
}

.center::before {
  background: var(--secondary-glow);
}

.center::after {
  background: var(--primary-glow);
}

/* Conic Gradient Animation */
.thirteen::before {
  background: var(--tile-border);
}

/* Inner Square */
.thirteen::after {
  background: linear-gradient(
    to bottom right,
    rgba(var(--tile-start-rgb), 1),
    rgba(var(--tile-end-rgb), 1)
  );
  background-clip: content-box;
}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }
}

/* Tablet and above */
@media (min-width: 701px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
    margin-bottom: 0;
    max-width: 100%;
    text-align: start;
  }

  .center {
    padding: 4rem 0;
  }

  .center::before {
    transform: translateZ(0);
    height: 360px;
  }

  .description {
    font-size: 0.85rem;
  }

  .description a {
    padding: 0;
  }

  .description p,
  .description div {
    display: block;
    justify-content: normal;
    width: auto;
  }

  .description p {
    align-items: normal;
    inset: 0;
    position: relative;
    padding: 1rem;
    border: 1px solid rgba(var(--callout-border-rgb), 0.3);
    border-radius: 12px;
    background: none;
    background-color: rgba(var(--callout-rgb), 0.5);
    background-clip: border-box;
    backdrop-filter: none;
  }

  .description div {
    align-items: normal;
    pointer-events: auto;
    inset: auto;
    position: static;
    padding: 0;
    height: auto;
    background: none;
    z-index: auto;
  }
}

/* Smaller Desktop and above */
@media (min-width: 1121px) {
  .grid {
    grid-template-columns: repeat(4, minmax(25%, auto));
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}
