* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body,
button,
input {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.has-text-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.header {
	height: 44px;
	padding: 0 20px;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.header .headerButton {
	margin-left: 25px;
	margin-right: 0;
	padding: 0;
	background: none;
	color: white;
	text-indent: 0;
}

.main {
	position: fixed;
	overflow: hidden;
	width: 100%;
	height: 100%;
	padding-top: 64px;
}

.board {
	display: flex;
	width: 100%;
	height: 100%;
}

.score-board {
	/* no styles */
}

.guide-helper {
	text-align: center;
	font-size: 2.2rem;
	font-weight: bold;
}

.time-helper,
.mistake-helper {
	text-align: right;
	font-size: 2.2rem;
}

.game-board {
	/* no styles */
}

.cell-wrap {
	width: 100%;
	height: 100%;
}
.cell-wrap:after {
	content: "";
	display: table;
	clear: both;
}

.cell {
	float: left;
	width: 25%;
	height: 25%;
}

.tile-wrap {
	width: 100%;
	height: 100%;
}

.tile {
	width: calc(100% - 3px);
	height: calc(100% - 3px);
	border: 1px solid #d4b300;
	border-radius: 4px;
	background: gold;
	box-shadow: 1px 1px;
	display: flex;
	justify-content: center;
	align-items: center;

	transform-origin: center center;
	transform: scale(1);
}
.tile.ready {
	background: #ccc;
	border-color: #aaa;
}
.tile.marked {
	transition: transform 0.2s ease-out;
	transform: scale(0);
}

.tile-number {
	font-size: 1.5rem;
}

.countdown-helper {
	text-align: center;
}
.countdown-helper .counter {
	color: white;
	font-size: 2.5rem;
	font-weight: bold;
}

.modal-close {
	top: 30px;
}
